*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(../../Media/Image/Batman\ And\ Joker\ Sketch\ 3d\ Wallpaper\ Hq.jpg);
}